# Cargamos la Informacion

### Carga de .txt

In [39]:
import os

# Cargamos todos los .txt
ruta = 'sagrada-main/datos/informacion'  
textos = []

for archivo in os.listdir(ruta):
    if archivo.endswith('.txt'):
        with open(os.path.join(ruta, archivo), 'r', encoding='utf-8') as f:
            textos.append(f.read())

# Tenemos 33 textos en total
len(textos)

33

### Carga de Relaciones

In [40]:
import pandas as pd

# Cargamos los archivos CSV de relaciones
ruta_relaciones = 'sagrada-main/datos/relaciones'
archivos_deseados = ['relaciones_mediante_links.csv', 'relaciones_sagrada_generadas.csv']
dfs_relaciones = []

for archivo in os.listdir(ruta_relaciones):
    if archivo in archivos_deseados:
        ruta_completa = os.path.join(ruta_relaciones, archivo)
        df = pd.read_csv(ruta_completa)
        dfs_relaciones.append(df)

# Concatenamos los 2 DataFrames de relaciones
df_relaciones = pd.concat(dfs_relaciones, ignore_index=True)

df_relaciones.head(5)

,SUJETO1,RELACION,SUJETO2
0,Daryl Andrews,Sagrada - Diseñador,Daryl is a game designer and a member of the G...
1,Adrian Adamescu,Sagrada - Diseñador,Adrian is a Game Designer and a member of theG...
2,Peter Wocken,Sagrada - Diseñador,I am the Head of Graphic Design at Pandasaurus...
3,Floodgate Games,Sagrada - Editorial,Microbadge:Floodgate Games
4,Cranio Creations,Sagrada - Editorial,Cranio Creationsis a new and creative Italian ...

### Carga de Estadísticas

In [52]:
# Cargamos los archivos CSV de estadísticas
ruta_estadisticas = 'sagrada-main/datos/estadisticas'
dfs_estadisticas = []

for archivo in os.listdir(ruta_estadisticas):
    if archivo.endswith('.csv'):
        ruta_completa = os.path.join(ruta_estadisticas, archivo)
        df = pd.read_csv(ruta_completa, sep=';')
        dfs_estadisticas.append(df)

df_estadisticas = pd.concat(dfs_estadisticas, ignore_index=True)

df_estadisticas.head(5)

,GAME STATS,GAME RANKS,PLAY STATS,COLLECTION STATS,PARTS EXCHANGE
0,Avg. Rating 7.472,Overall Rank 213 Historical Rank,"All Time Plays 287,803","Own 73,849",Has Parts 19
1,"No. of Ratings 44,408",Abstract Rank 10 Historical Rank,This Month 512,"Prev. Owned 4,914",Want Parts 19
2,Std. Deviation 1.16,Family Rank 45 Historical Rank,NaN,For Trade 606 Find For-Trade Matches,NaN
3,Weight 1.92 / 5,NaN,NaN,Want In Trade 832 Find Want-in-Trade Matches,NaN
4,"Comments 6,141",NaN,NaN,"Wishlist 9,322",NaN